@media (min-width:992px){

    .toss-won{
        position: relative;
        background-image: url('https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/18/779539-india-aus-toss-twitter.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .choose-sec{
        text-align: center;
        padding: 266px 0 100px 0;
    }
    .choose-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .choose-title span{
        font-size: 35px;
        color: #1c356c;
        padding: 5px 60px 8px 60px;
        border-radius: 60px;
        border-top-left-radius: 60px;
        margin-left: 24px;
        background-color: #ffffffe8;
        font-weight: 500;
        box-shadow: #261d54 3px 9px 10px;
    }
    .option{
        margin: 20px 0 0 0;
    }
}
@media (max-width:991.99px){

    .toss-won{
        position: relative;
        background-image: url('https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/18/779539-india-aus-toss-twitter.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .choose-sec{
        text-align: center;
        padding: 450px 0 300px 0;
    }
    .choose-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .choose-title span{
        font-size: 30px;
        color: #1c356c;
        padding: 5px 60px 8px 60px;
        border-radius: 60px;
        border-top-left-radius: 60px;
        margin-left: 24px;
        background-color: #ffffffe8;
        font-weight: 500;
        box-shadow: #261d54 3px 9px 10px;
    }
    .option{
        margin: 20px 0 0 0;
    }
}
@media (max-width:575.99px){

    .toss-won{
        position: relative;
        background-image: url('https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/18/779539-india-aus-toss-twitter.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .choose-sec{
        text-align: center;
        padding: 250px 0 250px 0;
    }
    .choose-title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .choose-title span{
        font-size: 10px;
        color: #1c356c;
        padding: 5px 60px 8px 60px;
        border-radius: 60px;
        border-top-left-radius: 60px;
        margin-left: 10px;
        background-color: #ffffffe8;
        font-weight: 500;
        box-shadow: #261d54 3px 9px 10px;
    }
    .option{
        margin: 4px 0 0 0;
    }
}
